.stretch {
    margin-right: 75px;
    font-size: 4em;
    display: inline-block;
    font-family: 'Luckiest Guy', cursive;

}
body {
    background-image: url("https://hdqwalls.com/download/synthwave-future-scifi-5k-yn-2560x1440.jpg"); 
}
h1 {
    color: #ffffff
}
h4 {
    color: #ffffff
}